<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewAppDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99088ECB1CF2A32A0004D481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99088EE41CF2A32A0004D481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99088EEF1CF2A32A0004D481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
